<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
      <form action="http://127.0.0.1:5000/" method="POST">
        <p><h2>Choose data to display</h2></p>
        <p><input type="radio" name = "task" value = "taskone">
        <label> <b>Employees who's salary is >9000 </b></label>
        </p>
        <p><input type="radio" name = "task" value = "tasktwo">
        <label> <b>Employee who's department is within range (30 - 110)
          and who's salary is >4200 </b></label>
        </p>
        <input type="submit" value="Show">

    </form>
</body>
</html>